{{#extend "header"}}
{{> landing/navbar}}
{{/extend}}
<br>
<br>
<br>
<br>
<div class="w3-animate-opacity" style="display: block;">
    <div class="w3-modal-content" style="padding:32px">
        <div class="w3-container w3-white">
            <form action="/password/change/{{_id}}" method="post">
              <input type="hidden" name="urlback" value="{{urlback}}">
              <h2 class="w3-wide">Confirmar contrase単a</h2>
              <p>Bienvenido a {{ app_name }} donde tu seguridad es nuestra prioridad.</p>
              
              {{#if error}}
              <p style="color: crimson; font-weight: bold; font-size: 20px;">{{ error }}</p>
              {{/if}}

              {{#if success}}
              <p style="color: rgb(16, 150, 83); font-weight: bold; font-size: 20px;">{{ success }}</p>
              {{/if}}
              
              {{#if message}}
              <p style="color: rgb(16, 92, 143); font-weight: bold; font-size: 20px;">{{ message }}</p>
              {{/if}}

              {{#if errorsValidator}}    
                {{#each errorsValidator}}
                  <p style="color: crimson; font-weight: bold; font-size: 20px;">{{ msg }}</p>
                {{/each}}
              {{/if}}

              <i class="fa fa-shield w3-large"></i> <i class="fa fa-lock w3-large"></i> <i
                  class="fa fa-registered w3-large"></i>
              <p><input class="w3-input w3-border" name="email" value="{{_email}}" type="email" placeholder="Correo"></p>
              <p><input class="w3-input w3-border" name="password" type="password" placeholder="Contrase単a"></p>
              <p><input class="w3-input w3-border" name="passwordConfirmation" type="password" placeholder="Confirmar contrase単a"></p>
              <button type="submit" class="w3-button w3-block w3-padding-large w3-red w3-margin-bottom">Guardar contrase単a</button>
            </form>
        </div>
    </div>
</div>
<br>
<br>
<br>
{{#extend "footer"}}
{{> landing/footer}}
{{/extend}}
