{{#extend "head"}}
<link rel="stylesheet" href="/stylesheets/css/employees.css">
{{> title title="Incidentes"}}
{{/extend}}

{{#extend "header"}}
{{> admin/header}}
{{/extend}}

<br>
<br>
<br>
<main>
  <div class="main-section">
    <div class="container">
      <div class="main-section-data">
        <div class="row">
          <div class="col-xl-9 col-lg-9 col-md-12">
            <div class="bids-detail">
              <div class="row">
                <div class="col-12 appliedjob">
                 
                  <div class="bids-time">
                    <h3>Publicado : <span class="timePublishIncidents">{{ incident.dataValues.createdAt }}</span></h3>
                    <br>
                    <p class="go-attend">{{incident.dataValues.estado}}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="main-ws-sec">
              <div class="posts-section">
                <div class="post-bar">
                  <div class="post_topbar">
                    <div class="usy-dt">
                      <img src="{{ incident.dataValues.residente.dataValues.user.dataValues.url_imagen }}" width="40" height="40" alt="">
                      <div class="usy-name">
                        <h3><a href="/perfil/usuario/{{incident.dataValues.residente.dataValues.user.dataValues.username}}">{{ incident.dataValues.residente.dataValues.user.dataValues.nombres }} {{ incident.dataValues.residente.dataValues.user.dataValues.apellidos }}</a></h3>
                        <span><img src="images/clock.png" alt=""><span class="timePublishIncidents">{{ incident.dataValues.createdAt }}</span></span>
                      </div>
                    </div>
                  </div>
                <div class="epi-sec">
                  <ul class="descp">
                    <li><img src="images/icon8.png" alt=""><span class="go-attend">{{ incident.dataValues.estado }}</span></li>
                    <li><img src="images/icon9.png" alt=""><span>{{ incident.dataValues.residente.dataValues.villa.dataValues.bloque.dataValues.nombre }}: {{ incident.dataValues.residente.dataValues.villa.dataValues.numero }}</span></li>
                  </ul>
                  <ul class="bk-links">
                    {{!-- <li><a href="#" title=""><i class="la la-pencil"></i></a></li> --}}
                    {{#if_cond user.dataValues.id incident.dataValues.residente.dataValues.user_id}}
                    <li>
                      <a href="/valle-verde/incidente/{{incident.dataValues.id}}/borrar" title="" onclick="event.preventDefault(); (confirm('¿ ESTAS SEGURO QUE DESEAS BORRAR ESTE INCIDENTE ?')) ? document.getElementById('delete-form-{{incident.dataValues.id}}').submit() : false;"><i class="la la-trash" style="background-color: crimson;"></i> Borrar incidente</a>
                      <form id="delete-form-{{incident.dataValues.id}}" action="/valle-verde/incidente/{{incident.dataValues.id}}/borrar" method="POST" style="display: none;"></form>
                    </li>
                      {{#if_cond user.dataValues.role_id 3}}
                        {{#if_cond incident.dataValues.estado 'ATENDIENDOSE'}}
                          <li>
                            <a href="/valle-verde/incidente/{{incident.dataValues.id}}/cerrar/atencion" title="" onclick="event.preventDefault(); (confirm('¿ EL INCIDENTE HA SIDO ATENDIDO CON ÉXITO ?')) ? document.getElementById('change-form-{{incident.dataValues.id}}').submit() : false;"><i class="la la-check" style="background-color: rgb(14, 134, 54);"></i> Incidente resuelto</a>
                            <form id="change-form-{{incident.dataValues.id}}" action="/valle-verde/incidente/{{incident.dataValues.id}}/cerrar/atencion" method="POST" style="display: none;"></form>
                          </li>
                        {{/if_cond}}
                      {{/if_cond}}
                    {{/if_cond}}

                  </ul>
                </div>
                <div class="job_descp accountnone">
                  {{#if_not incident.dataValues.detalles '{}'}}
                  <div id="detail_incident_json">{{ incident.dataValues.detalles }}</div>
                  {{else}} 
                  <div id="detail_incident_json"></div>
                  {{/if_not}}
                  <hr>
                  <ul class="job-dt">
                    <li>
                      <a href="#">{{ incident.dataValues.tipo.dataValues.tipo }}</a>
                    </li>
                    <li><span>{{ incident.dataValues.tipo.dataValues.gravedad }}</span></li>
                  </ul>
                  <p>{{ incident.dataValues.descripcion }}</p>
                  
                 <div class="row justify-content-center">
                    <div class="row">
                      {{#checkLength incident.dataValues.adjuntos 0}}
                        {{#each incident.dataValues.adjuntos}}
                          <div class="col-md-3">
                            <a href="{{dataValues.url}}" data-toggle="lightbox" data-gallery="example-gallery">
                              <img src="{{dataValues.url}}" class="img-fluid">
                            </a>
                          </div>
                        {{/each}}
                      {{/checkLength}}
                    </div> 
                  </div>
                </div>
                <div class="job-status-bar btm-line">
                  <ul class="like-com">
                    <li><a href="#" class="com"><i class="fa fa-comment-alt"></i> {{ incident.dataValues.comentarios.length }} comentarios</a></li>
                  </ul>
                </div>
                {{!-- <div class="comment-area">
                  <i class="la la-plus-circle"></i> 
                  <div class="post_topbar">
                    <div class="usy-dt">
                      <img src="images/resources/bg-img1.png" alt="">
                      <div class="usy-name">
                        <h3>John Doe</h3>
                        <span><img src="images/clock.png" alt="">3 min ago</span>
                      </div>
                    </div>
                  </div>
                  <div class="reply-area">
                    <p>Lorem ipsum dolor sit amet,</p>
                    <span><i class="la la-mail-reply"></i>Reply</span> 
                    <div class="comment-area reply-rply1">
                      <div class="post_topbar">
                        <div class="usy-dt">
                        <img src="images/resources/bg-img2.png" alt="">
                          <div class="usy-name">
                            <h3>John Doe</h3>
                            <span><img src="images/clock.png" alt="">3 min ago</span>
                          </div>
                        </div>
                      </div>
                      <div class="reply-area">
                        <p>Lorem ipsum dolor sit amet,</p>
                        <p>Hi John</p>
                        <span><i class="la la-mail-reply"></i>Reply</span>
                      </div>
                    </div>
                  </div>
                </div> --}}
                {{#checkLength incident.dataValues.comentarios 0}}
                  {{#each incident.dataValues.comentarios}}
                  <div class="comment-area">
                    <div class="post_topbar">
                      <div class="usy-dt">
                        <img src="{{ dataValues.residente.dataValues.user.dataValues.url_imagen }}" width="40" height="40" alt="">
                        <div class="usy-name">
                          <h3><a href="/perfil/usuario/{{dataValues.residente.dataValues.user.dataValues.username}}">{{ dataValues.residente.dataValues.user.dataValues.nombres }} {{ dataValues.residente.dataValues.user.dataValues.apellidos }}</a></h3>
                          <span><img src="images/clock.png" alt=""><span class="timePublishIncidents">{{ dataValues.createdAt }}</span></span>
                        </div>
                      </div>
                    </div>
                    <div class="reply-area">
                      <p>{{ dataValues.descripcion }}</p>
                      {{#if_cond ../user.dataValues.residente.dataValues.id dataValues.residente_id}}
                        <span>
                          <a href="/comment/{{dataValues.id}}/destroy/{{../incident.dataValues.id}}/incidente" onclick="event.preventDefault(); (confirm('¿ ESTAS SEGURO DE BORRAR ESTE COMENTARIO ?')) ? document.getElementById('delete-form-{{dataValues.id}}').submit() : false;"><i class="la la-trash"></i>Borrar</a>
                          <form id="delete-form-{{dataValues.id}}" action="/comment/{{dataValues.id}}/destroy/{{../incident.dataValues.id}}/incidente" method="POST" style="display: none;"></form>
                        </span>
                      {{/if_cond}}
                    </div>
                  </div>
                  <br>
                  {{/each}}
                {{/checkLength}}

                {{#if_cond user.role_id 3}}
                  <div class="postcomment" style="width: 100%; margin-left: 0px;">
                    <div class="row" style="position: relative; margin-left: 0px; padding-top: 20px;width:100%;">
          
                      <div class="col-md-1">
                        <div class="usy-dt">
                          <img src="{{ user.dataValues.url_imagen }}" width="40" height="40" alt="">
                        </div>
                      </div>
                      <div class="col-md-11" style="display: inline-block;">
                        {{#if error}}
                          <div style="color: crimson; font-weight: bold; font-size: 20px; padding:1em;">
                            <span>{{ error }}</span>
                          </div>
                          <hr>
                        {{/if}}
                        <form action="/comment/send/{{incident.dataValues.id}}/incidente" method="POST">
                          <div class="row">
                            <div class="col-md-9">
                              <div class="form-group">
                                <input type="text" name="descripcion" required="required" class="form-control" style="width: 100%; margin-left: 0px;" id="inputCommentIncident" placeholder="Escribir un comentario">
                              </div>
                            </div>
                            <div class="col-md-2">
                              <button type="submit" class="btn btn-secondary">Enviar</button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                {{/if_cond}}
                </div>
              </div>
            </div>
          </div>
          <div class="col-xl-3 col-lg-3 col-md-12">
            <div class="right-sidebar">
              {{#if_cond user.dataValues.role_id 2}}
                {{#if_cond incident.dataValues.estado 'NO ATENDIDO'}}
                  <div class="widget widget-about bid-place">
                    <button type="button" class="btn btn-primary" id="attend-incident" data-toggle="modal" data-target="#mymodal" data-whatever="@mdo">Atender</button>
                  </div>
                {{/if_cond}}
              {{/if_cond}}

              {{#checkLength incident.dataValues.atenciones 0}}
              <div class="widget widget-jobs">
                <div class="sd-title">
                  <h3>Personal de seguridad atendiendo.</h3>
                </div>
                {{#each incident.dataValues.atenciones}}
                  <div class="sd-title paymethd">
                    <h4>{{ dataValues.empleado.dataValues.user.dataValues.nombres }} {{ dataValues.empleado.dataValues.user.dataValues.apellidos }}</h4>
                    <p>{{ dataValues.empleado.dataValues.user.dataValues.cedula }}</p>
                    <ul>
                      <li>
                        <a href="#!">{{ dataValues.empleado.dataValues.user.dataValues.email }}</a>
                      </li>
                    </ul>
                  </div>
                {{/each}}
            
              </div>
              {{/checkLength}}
              {{#checkLength incident.dataValues.atenciones 0}}
                <div class="widget widget-jobs">
                  <div class="sd-title">
                    <h3>Fecha en la que se realizó la atención</h3>
                  </div>
                  <div class="sd-title copylink">
                      {{#each incident.dataValues.atenciones}}
                        <P id="timePublishIncident">{{ dataValues.createdAt }}</P>
                      {{/each}}
                  </div>
                </div>
              {{/checkLength}}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{{#extend "scripts"}}
<script src="/javascripts/jquery.mCustomScrollbar.js"></script>
<script src="/stylesheets/lib/slick/slick.min.js"></script>
<script src="/javascripts/scrollbar.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.1.1/socket.io.min.js"></script>
<script src="/javascripts/script.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js" integrity="sha512-Y2IiVZeaBwXG1wSV7f13plqlmFOx8MdjuHyYFVoYzhyRr3nH/NMDjTBSswijzADdNzMyWNetbLMfOpIPl6Cv9g==" crossorigin="anonymous"></script>
<script>
  $(function () {
    $(document).on('click', '[data-toggle="lightbox"]', function(event) {
      event.preventDefault();
      $(this).ekkoLightbox({
        alwaysShowClose: true
      });
    });
  })
</script>
{{#if_cond user.dataValues.role_id 3}}
<script src="/javascripts/moment.min.js"></script>
<script src="/javascripts/translateMoment.js"></script>
<script src="/javascripts/timePublishAll.js"></script>

{{#checkLength incident.dataValues.atenciones 0}}
<script src="/javascripts/timePublish.js"></script>
{{/checkLength}}

<script type="module" src="/javascripts/notification-attend.js"></script>
{{/if_cond}}
{{#if_cond user.dataValues.role_id 2}}
<script src="/javascripts/moment.min.js"></script>
<script src="/javascripts/translateMoment.js"></script>
<script src="/javascripts/timePublishAll.js"></script>

{{#checkLength incident.dataValues.atenciones 0}}
<script src="/javascripts/timePublish.js"></script>
{{/checkLength}}
<script type="module" src="/javascripts/attend-detail-incident.js"></script>
{{/if_cond}}
<script src="/javascripts/details.js"></script>
{{/extend}}
